*.xml
*.pyc
/cdm_metadata_text/*.xml
/cdm_binaries/*
/Sourced_from_HD_Collections/*
/Xmlified_Collections/*
/Collections/*
.cache/*
test_xmlify.py
/One-off-collection-pulls/*
*.ipynb_checkpoints
/one_off_scripts/coll_tags_as_files/
Cached_Cdm_files/
Collections.zip
AdminPanelExportedCsvs/*
one_off_scripts/scraping_pages/Landings_scraped/*
.DS_Store
scrape_cDM_log.txt
